.menuLink{
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;


}
.menuLink:hover{
    background-color:rgb(228,230,235);
    
}
.menuLinkText{
    margin-left: 10px;
    margin-right: 5px;
    
}

.sidebarIcon{
  width: 33px;
  object: cover;
  margin-right: 8px;
}