.navbarContainer {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 0px 0px rgb(221,223,226);
  z-index: 999;
}
.facebookLogo{
  width: 40px;
  height: 40px;
  margin-left: 20px
}
.navbarLeft {
  flex: 3;
  display: flex;
}
.navbarCenter {
  flex: 6; 
  display: flex;
 
}
.centerIcon{
  font-size: 30px !important;
  margin-left: 30px;
  margin-right: 20px;
  cursor: pointer;
  width: 100px !important;
  height: 45px !important;
  padding-top: 5px;
  padding-bottom: 5px;
}
.centerIcon:hover{
  color: rgb(23,106,230);
  background-color: rgb(240,242,245);
  border-radius: 10px;

}
.navbarRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.navbarLink {
  margin-left: 20px;
  font-size: 14px;
  cursor: pointer;
}
.navbarIcons{
    display: flex;
    margin-left: 150px;
    font-size: 20px;
    gap: 10px;
    color: black;
}
.navbarIconItem{
    display: flex;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    background-color: rgb(228,230,235);
    border-radius: 30px;
    align-items: center;
    padding-left: 8px
}
.navbarIconItem:hover{
  background-color:rgb(110,111,114);
}

.navbarIconBadge{
    width: 18px;
    height: 18px;
    background-color: red;
    position: absolute;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -5px;
    color:white;
}

.navbarImg{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    cursor: pointer;
}

.logo {
  font-size: 24px;
  color: white;
  margin-left: 20px;
  font-weight: 500;
  cursor: pointer;
}
.searchBar {
  width: 60%;
  height: 40px;
  background-color: rgb(240,242,245);
  border-radius: 30px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  margin-left: 10px
}
.searchIcon {
  font-size: 20px;
  margin-left: 10px;
  color: gray;
  cursor: pointer;
}
.searchInput {
  border: none;
  width: 75%;
  height: 30px;
  background-color: rgb(240,242,245);
}
.searchInput:focus {
  outline: none;
}
